html { 
  box-sizing: border-box; 
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica', 'Open Sans', sans-serif;
  background-color: #282828;
  color: #F8F8F8;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
}

#gang {
  flex: auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 2em;
  height: 100%;
}

.column {
  width: 300px;
}

#members {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

#members li {
  border-radius: 20px;
  background-color: #383838;
  padding: 0.2em 0.5em;
  margin-bottom: 1em;
  text-align: center;
}

#members li#current-driver {
  background-color: #DC9656;
}

#messages {
  flex: auto;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  font-size: 5em;
}

#messages.countdown {
  color: #AB4642;
  animation: pulse 0.5s infinite;
}

#messages.break {
  color: #A1B56C;
  animation: pulse 2s infinite alternate;
}

#new-member {
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1em;
  padding: 0.2em 0.5em;
  width: 300px;
  text-align: center;
}

#controls {
  padding: 2em;
  text-align: right;
}

#controls label {
  border-radius: 10px 0 0 10px;
  background-color: #585858;
  font-size: 1em;
  padding: 0.4em;
  margin-left: 2em;
}

#controls input {
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #E8E8E8;
  outline: none;
  margin: 0;
  padding: 0.15em;
  font-size: 1.2em;
  vertical-align: middle;
  width: 2em;
}

#buttons {
  display: flex;
  flex-flow: row;
  height: 10%;
}

#buttons button {
  flex: auto;
  font-size: 3em;
  padding: 0 0.5em;
  border: none;
}

#btn_start {
  background-color: #A1B56C;
}

#btn_skip {
  background-color: #7CAFC2;
}

#btn_reset {
  background-color: #BA8BAF;
}

#progress {
  height: 10%;
  background-color: #585858;
}

#progress .bar {
  height: 100%;
  width: 100%;
  background-color: #F8F8F8;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 1s;
}

#progress .countdown {
  background-color: #AB4642;
  animation: pulse 0.5s infinite;
}

#progress .animate {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% { opacity: 0.4; }
  100% { opacity: 1; }
}
