html { 
  box-sizing: border-box; 
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica', 'Open Sans', sans-serif;
  background: #3C6478;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

/* Help text */
#help {
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px;
}

.help-heading {
  text-align: right;
  opacity: 0.6;
  line-height: 100%;
  margin-top: 0;
}

#help .help-content {
  display: none;
}

#help:hover .help-content {
  display: block;
}

#help:hover .help-heading {
  opacity: 1;
}

/* Mobber list */
#gang {
  padding: 50px;
  width: 40%;
}

#members {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#members li {
  font-size: 3em;
  opacity: 0.6;
  margin-bottom: 0.5em;
}

#new-member {
  outline: none;
  border: none;
  background: none;
  padding-bottom: 0.2em;
  margin-bottom: 0.2em;
  font-size: 3em;
  border-bottom: 1px solid #FFFFFF;
  opacity: 0.6;
}

#new-member:focus, #new-member:hover {
  opacity: 1;
}

/* Mobber load button */
#btn_load {
  border: none;
  background: none;
  margin: 0.5em 0;
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 1em;
  padding: 0;
}

#btn_load:hover {
  opacity: 1;
}

/* Timer params */
#controls {
  position: absolute;
  bottom: 0;
  padding: 50px;
  font-size: 1.5em;
}

#controls input[type=number] {
  border: 0;
  outline: 0;
  background: none;
  border-bottom: 3px solid #282828;
  font-size: inherit;
  text-align: center;
  width: 2em;
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

/* Timer indicators */
#cycle {
  position: absolute;
  top: 0;
  right: 30%;
  padding: 50px;
  font-weight: bold;
  opacity: 0.6;
  font-size: 1.5em;
}

#timer {
  position: absolute;
  top: 0;
  right: 15%;
  padding: 50px;
  font-weight: bold;
  opacity: 0.6;
  font-size: 1.5em;
}

#buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

#buttons button {
  border: none;
  background: none;
  font-size: 4em;
  flex-grow: 1;
  margin-left: 50px;
  padding: 0;
  color: #FFFFFF;
  opacity: 0.6;
  width: 80px;
  height: 80px;
  text-indent: 120px;
  overflow: hidden;
  width: 80px;
  height: 80px;
}

#buttons button:hover {
  cursor: pointer;
  opacity: 1;
}

#buttons button:before {
  display: block;
  float: left;
  text-indent: 0;
}

#btn_start[data-state=start]:before {
  content: '►';
}

#btn_start[data-state=unpause]:before {
  content: '►';
  animation: pulse-opacity 1s infinite alternate;
}

#btn_start[data-state=pause]:before {
  content: '❚❚';
  animation: pulse-opacity 1s infinite;
}

#btn_start[data-state="i'm ready"]:before {
  content: '👍';
  animation: pulse-opacity 1s infinite;
}

#btn_reset:before {
  content: '◼';
  font-size: 1.8em;
  margin-top: -45px;
}

#btn_skip:before {
  content: '⤼';
  font-size: 2.2em;
  margin-top: -45px;
}

#screamout {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5vw;
  width: 100%;
  height: 100%;
  font-size: 6vw;
}

@keyframes pulse-opacity {
  0%   { opacity: 0.4; }
  90% { opacity: 1; }
}

@keyframes pulse-orange {
  0%   { background-color: #fe8019; }
  100% { background-color: #d65d0e; }
}

@keyframes pulse-green {
  0%   { background-color: #98971a; }
  100% { background-color: #b8bb26; }
}

#screamout.scream {
  background-color: #AD2A1A;
  color: #FFFFFF;
  font-weight: bold;
}

#screamout.break {
  background-color: #829256;
  color: #FFFFFF;
  font-weight: bold;
}

#members #current-driver {
  animation: pulse-opacity 1s infinite;
  font-weight: bold;
}
