html { 
  box-sizing: border-box; 
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica', 'Open Sans', sans-serif;
  background: #458588;
  color: #282828;
  padding: 0;
  margin: 0;
}

#timer {
  padding: 3vw;
  color: #83a598;
  font-size: 20vw;
  line-height: 60%;
}

#gang {
  float: right;
  width: 30%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 3vw;
  z-index: 10;
}

#members {
  text-align: left;
}

#members li, 
#new-member {
  border-radius: 10px;
  background: #fbf1c7;
  box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.4);
  padding: 1vw;
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
}

#controls {
  padding: 3vw;
  font-size: 2vw;
}

#controls input[type=number] {
  border: 0;
  outline: 0;
  background: none;
  border-bottom: 3px solid #282828;
  font-size: inherit;
  width: 8vw;
  text-align: center;
  color: #ebdbb2;
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

#new-member {
  border: 0;
  outline: none;
  display: block;
  background: #b16286;
  color: #ebdbb2;
  width: 100%;
}

#buttons {
  position: absolute;
  bottom: 0;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

#btn_start, #btn_reset, #btn_skip {
  border-radius: 20px;
  font-size: 4vw;
  padding: 1vw;
  flex-grow: 1;
  margin: 3vw;
}

#btn_start {
  background: #b8bb26;
  border-color: #b8bb26;
}

#btn_reset {
  background: #fb4934;
  border-color: #fb4934;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#screamout {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5vw;
  width: 100%;
  height: 100%;
  font-size: 6vw;
}

.hide {
  display: none;
}

@keyframes pulse-orange {
  0%   { background-color: #fe8019; }
  100% { background-color: #d65d0e; }
}

@keyframes pulse-green {
  0%   { background-color: #98971a; }
  100% { background-color: #b8bb26; }
}

#screamout.scream {
  color: #fabd2f;
  font-weight: bold;
  animation: pulse-orange 1s infinite;
}

#screamout.break {
  color: #fabd2f;
  font-weight: bold;
  animation: pulse-green 3s infinite alternate;
}

#cycle {
  padding: 3vw;
  font-size: 5vw;
  color: #83a598;
}

#members #current-driver {
  background-color: #fabd2f;
}

#current-navigator {
  background-color: #8ec07c;
}

#current-driver::before {
  content: 'DRIVER';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1vw;
  font-weight: bold;
  color: #d79921;
}

#current-navigator::before {
  content: 'NAV';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1vw;
  font-weight: bold;
  color: #689d6a;
}
